#Ignore...

#All files with these extensions:
*.directory
*.pyc
*.log

#All these specific directories:
data/
plots/

#All these specific files:
aqtools/AQMeshCodes.txt
aqtools/AppSecretKey.txt
aqtools/*.csv
aqtools/collect_alldata.sh
